body{

	background-image:linear-gradient(#89bdd3,#9ad3de, #c9c9c9);
    background-repeat:repeat;
}

p{
	font-family: "a little sunshine";
	font-size: 30px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color:black; 
	position: absolute;
	top:0;
	width:100%;
}
nav li{
	font-size:20px;
	font-family:"Arial";
	position:static;
	float:left;
	font-weight:bold;
}
nav li a{
	display:block;
	color:#8D8741;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav li a:hover:not(.active){
	background-color:#BC986A;
}

.section-envi{
	color:#FBEEC1;
	font-style:italic;
	font-size:20px;
}
.section-envi p{
    font-size:30px;
    padding-bottom:20vh;
    text-align:center;
}
.section-envi h1{
	padding:100px;
	font-family:"sunrise international demo";
	font-size:80px;
	color:white;
}
.index-text-envi h1{
	padding:30px;
	font-size:20px;

}
.index-text-envi p{
	padding:inherit;
	font-size:20px;
}
footer p{
  color:#8D8741;
  position:relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color:black;
  text-align: center;
}
#main-col{
	text-align:center;
	font-family:"a little sunshine";
	font-size: 30px;
	}
#main-col h3, h2{
	font-family:"sunrise international demo";
	text-align:center;
	padding:50px;
	border-top-style:double;
	border-top-color:black;
	font-size:24px;
	}
.main1{
	font-family:"Arial";
	font-size:20px;
	font-style:normal;
	}
#box-ias{
	display:inline-table; 
	vertical-align: middle;
	}
.box img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
	}	
h1{
	text-align:center;
	padding:40px;
	font-family:"Sunrise International demo";
	font-size:80px;
	color:white;
	text-shadow: 2px 2px 4px #000000;
	}
h2{
	font-family:"Sunrise International demo";
	font-size:50px;

	}
#boxes-ias h3{
	font-size:50px;
	color:black;
	font-family: "sunrise international demo";
	}
#boxes-about ul,li, h3{
	text-align:center;
	list-style-position:inside;
	font-family: "sunrise international demo";
	font-size: 50px;
	}
a{
	display:block;
	color:black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
table {
    border-collapse: collapse;
	margin-left:50px;
}

table,th, td {
    border: 1px solid black;
	padding-right:20px;
	padding-left:20px;
	padding:15px;
	text-align:center;
}
.table-text {
	font-weight:bold;
	}
/*Substance Abuse prevention*/
body{
	background-image:linear-gradient(#89bdd3,#9ad3de, #c9c9c9);
    background-repeat:repeat;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color:black; 
	position: absolute;
	top:0;
	width:100%;
}
.navlist li{
	font-size:20px;
	font-family:"Arial";
	position:static;
	float:left;
	font-weight:bold;
}
.navlist li a{
	display:block;
	color:#8D8741;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navlist li a:hover:not(.active){
	background-color:#BC986A;
}
p{
    font-size:30px;
    padding-bottom:20px;
	text-align:center;
	font-family: "a little sunshine"

}
header{
	text-align:center;
	padding:10px;
	font-family:"sunrise international demo";
	font-size:50px;
	color:black;
}

.footer2{
  color:#8D8741;
  position:relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color:black;
  text-align: center;
}
.footer{
  color:#8D8741;
  position:relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color:black;
  text-align: center;
}
h1{
	text-align:center;
	padding:40px;
	font-family:"sunrise international demo";
	font-size:60px;
	color:black;
	text-shadow: 2px 2px 4px #000000;
	}
li, h2, h3{
	text-align:center;
	color:black;
	font-family:"sunrise international demo";
	font-size: 30px;
	}
a{
	display:block;
	color:black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
.news1{
	display:inline-table; 
	vertical-align: middle;
	}
.news1 img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	}	
.gimgs img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	}
.news-content{
	text-align:center;
	}
.box img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
	}
/*Environmental Protection*/
body{
	background-image:linear-gradient(#89bdd3,#9ad3de, #c9c9c9);
    background-repeat:repeat;
	}
/*Navigation bar*/
nav ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color:black; 
	background-image:url(./backgrounds/greenearth.png);
	background-position:right;
	background-size:50px 50px;
	background-repeat:no-repeat;
	position: absolute;
	top:0;
	width:100%;
	}
nav li{
	font-size:20px;
	font-family:"Arial";
	position:static;
	float:left;
	font-weight:bold;
	border-right: 6px ;
	border-right-style:groove;
	border-right-color: #8D8741;
	height:20%;
	}
nav li a{
	display:block;
	color:#8D8741;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
nav li a:hover:not(.active){
	background-color:#BC986A;
	}
/*Section(index.html)*/
.section-envi{
	color:#FBEEC1;
	font-style:italic;
	font-size:20px;
	background-image:url(./backgrounds/LOGO.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:1008px 288px;	
	}
.section-envi p{
    padding-bottom:20vh;
	padding-top:40vh;
    text-align:center;
	}
.section-envi h1{
	padding:100px;
	font-family:"sunrise international demo";
	font-size:80px;
	color:white;
	}
/*Paragraph(features.html, Advocacy.html, News.html and index.html)*/
p.index-text-envi{
	color:black;
	font-size:30px;
	font-family: "a little sunshine";
	}
/*Footer*/
.footer-envi p{
	  color:#8D8741;
	  position:relative;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding:10px;
	  background-color:black;
	  text-align: center;
	}
/*Article (About.html and Advocacy.html)*/
#main-col-envi{
	padding:40px;
	font-family:"a little sunshine";
	}
#main-col-envi h1{
	background-image:url(./backgrounds/waste.png),url(./backgrounds/trash.png), url(./backgrounds/landfills.png);
	background-position:bottom, left, right;
	background-repeat:no-repeat, no-repeat, no-repeat;
	background-size:180px 180px,300px 180px, 290px 180px;
	padding-bottom:180px;
	}
#main-col-envi h2{
	text-align:center;
	font-size:44px;
	}
#main-col-envi h3{
	padding:10px;
	border-top-style:double;
	border-top-color:black;
	font-size:25px;
	}
#main-col-envi li{
	font-size:20px;
	}
/*Paragraph (About.html)*/
p.dark-about-envi{
	font-family:"a little sunshine";
	font-size:30px;
	font-style:normal;
	padding-top:288px;
	background-image:url(./backgrounds/LOGO.jpg);
	background-position:top;
	background-repeat:no-repeat;
	background-size:1008px 288px;	
	}
/*Section (About.html)*/
#boxes-about h3{
	text-align:center;
	}
.box{
	display:inline-table; 
	vertical-align: middle;
	margin:6px;
    padding-left: 120px;
    padding-right: 20px;
	}
.box img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	}
/*Section (Gallery.html)*/
#gallery-envi h1{
	text-align:center;
	padding:40px;
	font-family:"sunrise international demo";
	font-size:80px;
	color:white;
	background-image:url(./backgrounds/trees.png);
	background-position:bottom;
	background-repeat:no-repeat;
	background-size:180px 180px;
	padding-bottom:180px;
	}
#gallery-envi img{
	border:thick;
	border-style:inherit;
	max-width: 100%;
	margin:5px;
	}
#gallery-envi:hover img {
  transform: scale(1.1);
}
/*Paragraph (Gallery.html)*/
p.source-title-envi{
	padding:10px;
	border-top-style:double;
	border-top-color:black;
	font-size:14px;
	}
/*h1 tag*/
h1{
	text-align:center;
	padding:40px;
	font-family:"Sunrise international demo";
	font-size:80px;
	color:white;
	text-shadow: 2px 2px 4px #000000;
	}
/*h2 tag,  and h3 tag*/
h2, h3{
	font-size:30px;
	color:black;
	font-family: "sunrise international demo";
	}
/*Anchor tag*/
a{
	display:block;
	color:black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	
